<!DOCTYPE html>
<html>
  <head>
  <title>Scalar</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Scalar/Stylesheets/general.css">
  </head>
  <body>

    <div id="desktop">
      <div id="top">
        <div id="generic-search"></div>
      <ul id="generic-menu">
        <li id="generic-time"></li>
        <li id="general-user"></li>
        <li id="general-update"></li>
        <li id="generic-config"></li>
      </ul>
      </div>
      <div id="content">
        <div class="area" id="left"></div>
        <div class="area" id="mid"></div>
        <div class="area" id="rigth"></div>
      </div>
      <div id="generic-dock">
        <div class="big-icon"></div>
        <div class="big-icon"></div>
        <div class="big-icon"></div>
        <div class="big-icon"></div>
        <div class="big-icon"></div>
      </div>
    </div>

  </body>
</html>